@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.my-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75em;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(128, 0, 128, 0.25);
    border-radius: 20px;

}

.my-wallet {
    width: 145px;
    height: 85px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(128, 0, 128, 0.15);
    border-radius: 20px;
}

.friends-enrolled {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #800080;
}

.box {
    width: 992px;
    height: 228px;
}

.curd {
    width: 358px;
    height: 228px;
    margin: 10px 10px;
    /* NEW GRADIENT 2 */

    background: linear-gradient(270deg, #800080 0%, #FF864C 100%);
    border-radius: 20px;

    /* Inside auto layout */


}



.curd-3 {
    /* 
    transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(0deg) scale(1); */
    /* background: linear-gradient(270deg, #6D6D6D 0%, rgba(61, 49, 49, 0) 42.79%); */

}

.curd-h4 {
    font-size: 16px;
    line-height: 24px;
}

.course-name button {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #FFFFFF;
}